*{margin: 0 0 0 0;}
body{background-color:#ced0ce !important;
}
/* estilo header */
header{display: flex;
    flex-direction: column;
width: 100%;
height: 40px;
position: fixed;
z-index: 2;
background-color: white;
grid-area: header;
margin-bottom: 30px;
margin-top: 0px;
}

.encabezado{display: flex;
width: 100%;
height: 40px;
flex-direction: row;
align-content: stretch;}
.titulo__header{font-family:  'Rubik Marker Hatch', cursive;
padding-bottom: 5px;}
#imagen__header{width: 40px;
height:40px
padding-top: 5px;
}
/* estilo nav */
.menu ul{list-style: none;
background-color: #000000;
padding-bottom: 10px;
position: relative;
grid-area: nav;
}
.menu{display: block;
background-color: #808080;
position: relative;
margin-bottom: 40px;
z-index: 2;}
.menu ul li{display: inline;  padding-right: 20px;
    background-color: #808080;
    position: relative;
    z-index: 2;
    }
    ul li a{color: white;
        text-decoration: none;
        display: inline;
        background-color: #808080;
        text-align: center;
        position: relative;
        z-index: 2;
        }
        
        ul li:hover{background-color: white;}

        ul li a:hover{background-color: white;}

        /* estilo main */


     .mates_perzonalizados{display: flex;
flex-direction: column;
margin-top: 50px;
grid-area: main}
.titulo_principal{text-align: center;
    font-family:  'Rubik Marker Hatch', cursive;
    font-size: 50px;
    z-index: 2;
    margin-top: 40px;
}
.imagen_principal{width: 100%;
height: 100%;
z-index: 1;}
.texto1{margin-bottom: 30px;}
.texto1 h3{text-align: center;
    font-family:  'Rubik Marker Hatch', cursive;
font-size: 30px;
z-index: 2;
margin-bottom: 30px
}
.texto1 p{text-align: center;
    font-family:  'Rubik Marker Hatch', cursive;
font-size: 10px;
z-index: 2;
margin-bottom: 30px}
.texto_video{display: flex;
    flex-direction: row;
align-content: stretch;
justify-content: space-between;
grid-area: texto_video;}
.conoce_como_trabajamos h4{font-family:  'Rubik Marker Hatch', cursive;
font-size: 30px;
padding-bottom: 10px ;
margin-right: 10px;}
.conoce_como_trabajamos p{padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}
.conoce_como_trabajamos iframe{height: 700px;
    width: 700px;
    border: #000000 2px solid;
    margin: 10px;
}
.imagenes-links{display: flex;
flex-direction: column;
align-content: center;}
.imagenes-links img{margin: 20px;
height: 200px;
width: 200px;
margin-right: 200px;
border: #000000 2px solid;
align-items: right;}
.imagenes-links p{font-family:  'Rubik Marker Hatch', cursive;
text-decoration: none;}
.lista_imagenes{list-style: none;
margin: 10px;}


.banner img{width: 100%;
height: 50px;
}
footer{background-color: #dc143c;
grid-area: footer;
margin-top: 2px;}
/* estilo tarjetas */
.contenedor__tarjetas{display: flex;
flex-flow: row wrap;
justify-content: space-between;
position: relative;
margin-top: 100px;
grid-area: tarjeta;}
.tarjeta{border: #000000 2px solid;
background-color: #ff7f50;
margin: 10px;
position: relative;
width: 600px;
}
.tarjeta h3{font-size: 20px;
font-family: 'Courier New', Courier, monospace;}
.descripcion__tarjeta{
    font-family: 'Courier New', Courier, monospace;
;}
.tarjeta img{padding: 10px;
}
button{margin: 10px;}

.tarjeta button:hover{height: 30px;
width: 100px;}

/* estilo sobre nostros */

.como_trabajamos{font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin: 15px;
}
.datos__sobre_nos iframe{align-content: center;
margin: 10px;
border: #000000 2px solid;
height: 200px;
width: 200px;
}
.direccion{font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin: 15px;}

    .sobre_nos_titulo{margin-top: 120px;}
    .sobre_nos_img{width: 100%;
    height: 800px;}
    /* estilo clientes */
    .clientes__titulo{text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 60px;
    padding-top: 100px;
    

    }
    .clientes{display: flex;
        flex-direction: row;
    margin-top: 20px;}

       .clientes img{width: 80px;
    height: 80px;
border: #000000 2px solid;
margin: 5px;}
.clientes_principal{margin-bottom: 20px;}
.clientes_principal img{width: 100%;
}
.clientes_principal{margin-bottom: 20px;}

.form_pedidos{margin-top: 50px;
    grid-area: form;
}
fieldset{border: #000000 2px solid !important;
margin: 50px !important;
padding: 20px !important;
width: 100%;}
.pagina_contacto{position: absolute;
margin-top: 100px;
}

.titulo_contacto{display: flex;
justify-content: center;
flex-direction: column;}
.completa{text-align: center;
margin: 10px;}

/* grids */
.index_body{display: grid;
    grid-template-areas: "header" "header" "header" 
    "nav" "nav" "nav" 
    "main" "main" "main" 
    "texto_video" "texto_video" "texto_video" 
    "banner" "banner" "banner" 
    "footer" "footer" "footer" ;
    
grid-template-rows: 600px 600px 1500px;

justify-content: stretch;}

.banner{grid-area: banner;}

.products_body{display: grid;
grid-template-areas: "header" "header"
"nav" "nav"
"tarjeta" "tarjeta"
"banner" "banner"
"footer" "footer";}

.contactanos_body{display: grid;
grid-template-areas: "header" "header"
"form" "form"
"form" "form"
"footer" "footer";
grid-template-rows: 200px 400px 400px 50px;
grid-template-columns: repeat 2(1fr);}

      
@media (max-width: 768px){ *{margin: 0 0 0 0;}


header{display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 2;
    background-color: white;
    grid-area: header;
    }

.barra_menu{display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    width: 50%;
height: 40px;
position: relative;
align-content: flex-end;

}


.menu ul li{display: inline-block; 
    background-color: white;
    position: relative;
    z-index: 2;
    align-content: right;
    grid-area: nav;
    }
    ul li a{color: black;
        text-decoration: none;
        display: inline-block;
        background-color: white;
        text-align: right;
        position: relative;
        z-index: 2;
        }

.container_principal{display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: 500px 200px 500px 100px;
grid-template-areas: "main main"
"main main"
"texto_video texto_video"
"texto_video texto_video";
z-index: 1;}

.texto_video{display: flex;
flex-direction: column;
align-content: center;
grid-area: texto_video;
z-index: 1;
}
iframe{position: relative;
    margin-right: 100px;
}


.mates_perzonalizados{display: flex;
flex-direction: column;
align-content:center;
margin-top: 30px;
margin-right: 100px;
grid-area: main;}

.imagen_principal{width: 100%;
margin-left: 20px;}
.titulo_principal{margin-top: 20px;}

.banner{display: grid;
grid-template-columns: repeat(2 1fr);
grid-area: banner;}
footer{display: grid;
grid-template-columns: repeat(2 1fr);
grid-area: footer;}

/* responsive productos */
.contenedor__tarjetas{display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(7 2fr);
grid-template-areas: "card1"
"card2"
"card3"
"card4"
"card5"
"card6"
"card7";}

.tarjeta{width: fit-content;
position: relative;}
.tarjeta1{grid-area: card1;}
.tarjeta2{grid-area: card2;}
.tarjeta3{grid-area: card3;}
.tarjeta4{grid-area: card4;}
.tarjeta5{grid-area: card5;}
.tarjeta6{grid-area: card6;}
.tarjeta7{grid-area: card7;}
}



@media(min-width: 1500px){
    header{display: flex;
        flex-direction: column;
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 2;
    background-color: white
    ;
    grid-area: header;
    margin-bottom: 20px;
    }
    
    .encabezado{display: flex;
    width: 100%;
    height: 40px;
    flex-direction: row;
    align-content: stretch;}
    .titulo__header{font-family:  'Rubik Marker Hatch', cursive;
    padding-bottom: 5px;}
    #imagen__header{width: 40px;
    height:40px
    padding-top: 5px;
    }
    /* estilo nav */
    .menu ul{list-style: none;
    background-color: white;
    padding-bottom: 10px;
    position: relative;
    grid-area: nav;
    }
    .menu{display: block;
    background-color: white;
    position: relative;
    margin-bottom: 20px;
    z-index: 2;}
    .menu ul li{display: inline;  padding-right: 20px;
        background-color: white;
        position: relative;
        z-index: 2;
        }
        ul li a{color: white;
            text-decoration: none;
            display: inline;
            background-color: white;
            text-align: center;
            position: relative;
            z-index: 2;
            }
            
            ul li a:hover{background-color: #808080;}
    
            /* estilo main */
    
    
         .mates_perzonalizados{display: flex;
    flex-direction: column;
    margin-top: 30px;
    grid-area: main}
    .titulo_principal{text-align: center;
        font-family:  'Rubik Marker Hatch', cursive;
        font-size: 50px;
        z-index: 2;
        margin-top: 40px;
    }
    .imagen_principal{width: 100%;
    height: 100%;
    z-index: 1;}
    .texto1{margin-bottom: 30px;}
    .texto1 h3{text-align: center;
        font-family:  'Rubik Marker Hatch', cursive;
    font-size: 30px;
    z-index: 2;
    margin-bottom: 30px
    }
    .texto1 p{text-align: center;
        font-family:  'Rubik Marker Hatch', cursive;
    font-size: 10px;
    z-index: 2;
    margin-bottom: 30px}
    .texto_video{display: flex;
        flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    grid-area: texto_video;}
    .conoce_como_trabajamos h4{font-family:  'Rubik Marker Hatch', cursive;
    font-size: 30px;
    padding-bottom: 10px ;
    margin-right: 10px;}
    .conoce_como_trabajamos p{padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    }
    .conoce_como_trabajamos iframe{height: 700px;
        width: 700px;
        border: #000000 2px solid;
        margin: 10px;
    }
    .imagenes-links{display: flex;
    flex-direction: column;
    align-content: center;}
    .imagenes-links img{margin: 20px;
    height: 200px;
    width: 200px;
    margin-right: 200px;
    border: #000000 2px solid;
    align-items: right;}
    .imagenes-links p{font-family:  'Rubik Marker Hatch', cursive;
    text-decoration: none;}
    .lista_imagenes{list-style: none;
    margin: 10px;}
    
    .banner img{width: 100%;
    height: 50px;
    }
    footer{background-color: #dc143c;
    grid-area: footer;
    margin-top: 2px;}
    .index_body{display: grid;
        grid-template-areas: "header" "header" "header" 
        "nav" "nav" "nav" 
        "main" "main" "main" 
        "texto_video" "texto_video" "texto_video" 
        "banner" "banner" "banner" 
        "footer" "footer" "footer" ;
        
    grid-template-rows: 600px 600px 2500px;
    
    justify-content: stretch;}
}


